/* CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #482a7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #482a7e;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1000px;
  height: 600px;
  background-color: #0f081b;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(45deg, #0f081b 0%, #1f2933 100%);
}

#response-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}


.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.box-content {
  position: relative;
}


.input-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

input[type="text"] {
  width: 800px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #1f2933;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.icon-container {
  background-color: #1f2933;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.icon-container i {
  color: #fff;
}

.background-patterns {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background-image: radial-gradient(#731dd8 10%, transparent 70%);
  opacity: 0.5;
}